* {
    box-sizing: border-box;
}

.parent {
    width: 450px;
    padding: 2rem;
    background: #ffffff;
    border-radius: 25px;
    box-shadow: 7px 20px 20px rgb(217, 210, 244);
    position: relative;
}

.file-upload {
    text-align: center;
    border: 3px dashed rgb(210, 227, 244);
    padding: 1.5rem;
    cursor: pointer;
    /* position: relative; */
}

.file-upload input {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}